{{ form_start(registrationForm) }}
    <label for="">First Name</label>
    {{ form_widget(registrationForm.firstName, {'attr':{'class':'form-control', 'placeholder':'First Name'}}) }}
    {{ form_errors(registrationForm.firstName, {'attr':{'class':'text-red'}}) }}
            <br>
     <label for="">Last Name</label>
    {{ form_widget(registrationForm.lastName, {'attr':{'class':'form-control', 'placeholder':'Last Name'}}) }}
    {{ form_errors(registrationForm.lastName) }}
            <br>
     <label for="">Email</label>
    {{ form_widget(registrationForm.email, {'attr':{'class':'form-control', 'placeholder':'Email'}}) }}
    {{ form_errors(registrationForm.email) }}
            <br>
     <label for="">Password</label>
    {{ form_widget(registrationForm.plainPassword,{'attr':{'class':'form-control', 'placeholder':'Password'}}) }}
    {{ form_errors(registrationForm.plainPassword) }}
            <br>
    {{ form_row(registrationForm.agreeTerms) }}
     <br>
    <button class="btn btn-block btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(registrationForm) }}
